#timer{
    font-size: 36px;
    max-width: 310px;
    font-weight: bolder;
}
div{
    text-align: center;
    font-size: xx-large;
    color: white;
    height: 100px;
    margin: auto;
    background-color: navy;
}
.p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.span{

    text-align: center; 
    font-size: large;
    font-weight: bolder;
}
#display{
    margin: auto;
    color: black;
    text-align: center;
    font-size: xx-large;
    max-width:  2000px;
    background-color: white;
}